<!DOCTYPE html>
<html>
  <head>
      <title>TAO NFT</title>

      <link rel="shortcut icon" href="/images/favicon.png"  />

      <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
      <meta content="width=device-width, initial-scale=1.0" name="viewport" />
      <meta content="TAO" name="description" />
      <meta content="" name="keywords" />
      <meta content="" name="author" />
      <!-- CSS Files
      ================================================== -->
      <link rel='stylesheet' href='/stylesheets/style.css' />

      <link id="bootstrap" href="/stylesheets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
      <link id="bootstrap-grid" href="/stylesheets/css/bootstrap-grid.min.css" rel="stylesheet" type="text/css" />
      <link id="bootstrap-reboot" href="/stylesheets/css/bootstrap-reboot.min.css" rel="stylesheet" type="text/css" />
      <link href="/stylesheet/css/animate.css" rel="stylesheet" type="text/css" />
      <link href="/stylesheets/css/owl.carousel.css" rel="stylesheet" type="text/css" />
      <link href="/stylesheets/css/owl.theme.css" rel="stylesheet" type="text/css" />
      <link href="/stylesheets/css/owl.transitions.css" rel="stylesheet" type="text/css" />
      <link href="/stylesheets/css/magnific-popup.css" rel="stylesheet" type="text/css" />
      <link href="/stylesheets/css/jquery.countdown.css" rel="stylesheet" type="text/css" />
      <link href="/stylesheets/css/style.css" rel="stylesheet" type="text/css" />
      <link href="/stylesheets/css/custom.css" rel="stylesheet" type="text/css" />
      <!-- color scheme -->
      <link id="colors" href="/stylesheets/css/colors/scheme-01.css" rel="stylesheet" type="text/css" />
      <link href="/stylesheets/css/coloring.css" rel="stylesheet" type="text/css" />
  
      <link rel="stylesheet" href="/stylesheets/css/nice-select.css">
      
  
  </head>
  
  <body class="dark-scheme">
    <div class="wrapper">
     <%- include('./header.ejs') %>
     <main>
        
        <%- body %>

     </main>
     <%- include('./footer.ejs') %>
    </div>
  </body>
</html>
