<!DOCTYPE html>
<html>
  <head>
      <title>TAO</title>
      <link rel="icon" href="assets/images/" type="image/gif" sizes="16x16">
      <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
      <meta content="width=device-width, initial-scale=1.0" name="viewport" />
      <meta content="TAO" name="description" />
      <meta content="" name="keywords" />
      <meta content="" name="author" />
      <!-- CSS Files
      ================================================== -->
      <link rel='stylesheet' href='/stylesheets/style.css' />

      <link id="bootstrap" href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
      <link id="bootstrap-grid" href="assets/css/bootstrap-grid.min.css" rel="stylesheet" type="text/css" />
      <link id="bootstrap-reboot" href="assets/css/bootstrap-reboot.min.css" rel="stylesheet" type="text/css" />
      <link href="assets/css/animate.css" rel="stylesheet" type="text/css" />
      <link href="assets/css/owl.carousel.css" rel="stylesheet" type="text/css" />
      <link href="assets/css/owl.theme.css" rel="stylesheet" type="text/css" />
      <link href="assets/css/owl.transitions.css" rel="stylesheet" type="text/css" />
      <link href="assets/css/magnific-popup.css" rel="stylesheet" type="text/css" />
      <link href="assets/css/jquery.countdown.css" rel="stylesheet" type="text/css" />
      <link href="assets/css/style.css" rel="stylesheet" type="text/css" />
      <link href="assets/css/custom.css" rel="stylesheet" type="text/css" />
      <!-- color scheme -->
      <link id="colors" href="assets/css/colors/scheme-01.css" rel="stylesheet" type="text/css" />
      <link href="assets/css/coloring.css" rel="stylesheet" type="text/css" />
  
      <link rel="stylesheet" href="assets/css/nice-select.css">
  
  
  </head>
  
  <body class="dark-scheme">
    <div class="wrapper">
     <%- include('./header.ejs') %>
     <main>
        
        <%- body %>

     </main>
     <%- include('./footer.ejs') %>
    </div>
  </body>
</html>
