

                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="staticBackdropLabel">Buy using</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <ul class="buy_option text-center">
                                     
                                      <li>
                                          <a href="Create.php" class="buyUsingMetaMask1">
                                              <img src="assets/images/nft/meta_mask.png" width="70">
                                          </a>
                                      </li>
                                      
                                  </ul>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                     
              <style>
                  #section-hero{
                      background-size: contain !important;background-repeat: no-repeat !important;background-position: center right 18% !important;background-color: rgba(0,0,0,0.4) !important;background-blend-mode: multiply; 
                  }
              </style>
                      <!-- content begin -->
                      <div class="no-bottom no-top" id="content">
                          <div id="top"></div>
                          
                          <!-- section begin -->
                          <section id="section-hero" aria-label="section" class="text-light overflow-hidden" data-bgimage="url(assets/images/misc/mod2.png) top" style="background-image: url(assets/images/misc/mod2.png) top !important;background: none !important;">
                              <div id="particles-js"></div>
                              <div class="container">
                                  <div class="row align-items-center">
                                      <div class="col-lg-6">
                                          <div class="text_top mt-5">
                                              <div class="spacer-double"></div>
                                              <h1>Unique Crypto for the adult industry.</h1>
                                              <p class="lead">Easiest place to buy and sell cryptocurrency.<br>Sign up and get started today.</p>
                                              <div class="spacer-20"></div>
                                              <a href="Explore.php" class="btn-main">Explore</a>&nbsp;&nbsp;
                                              <a href="Login.php" class="btn-main btn-white">Create</a>
                                              <div class="spacer-double"></div>
                                          </div>
                                      </div>
                                      <!--  <div class="col-md-5 ml-auto xs-hide mt-3">
                                              <img src="assets/images/misc/modal22.jpg" class="lazy img-fluid wow fadeIn" data-wow-delay="1.25s" alt="">
                                          </div> -->
                                  </div>                    
                              </div>
                          </section>
                          <!-- section close -->
              
                          <section id="section-steps" data-bgcolor="#0f0f0f">
                              <div class="container">
                                  <div class="row">
                                      <div class="col-lg-12">
                                          <div class="text-center">
                                              <h2>Create and sell your NFTs</h2>
                                              <div class="small-border bg-color-2"></div>
                                          </div>
                                      </div>
                                      <div class="col-lg-4 col-md-6 mb-sm-30">
                                          <div class="feature-box f-boxed style-3">
                                              <i class="wow fadeInUp bg-color-2 i-boxed icon_wallet"></i>
                                              <div class="text">
                                                  <h4 class="wow fadeInUp">Set up your wallet</h4>
                                                  <p class="wow fadeInUp" data-wow-delay=".25s">is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                                              </div>
                                              <i class="wm icon_wallet"></i>
                                          </div>
                                      </div>
                                      <div class="col-lg-4 col-md-6 mb-sm-30">
                                          <div class="feature-box f-boxed style-3">
                                              <i class="wow fadeInUp bg-color-2 i-boxed icon_cloud-upload_alt"></i>
                                              <div class="text">
                                                  <h4 class="wow fadeInUp">Add your NFT's</h4>
                                                  <p class="wow fadeInUp" data-wow-delay=".25s">is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                                              </div>
                                              <i class="wm icon_cloud-upload_alt"></i>
                                          </div>
                                      </div>
                                      <div class="col-lg-4 col-md-6 mb-sm-30">
                                          <div class="feature-box f-boxed style-3">
                                              <i class="wow fadeInUp bg-color-2 i-boxed icon_tags_alt"></i>
                                              <div class="text">
                                                  <h4 class="wow fadeInUp">Sell your NFT's</h4>
                                                  <p class="wow fadeInUp" data-wow-delay=".25s">is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                                              </div>
                                              <i class="wm icon_tags_alt"></i>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </section>
              
                          <section id="section-nfts" >
                              <div class="container">
                                  <div class="row">
                                      <div class="col-lg-12">
                                          <div class="text-center">
                                              <h2>Popular Items</h2>
                                              <div class="small-border bg-color-2"></div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="row wow fadeIn">                        
                                      <!-- nft item begin -->
                                      <div class="d-item col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                          <div class="nft__item">
                                             
                                              <div class="author_list_pp">
                                                  <a href="Author.php">                                    
                                                      <img class="lazy" src="assets/images/author/author-1.jpg" alt="">
                                                      <i class="fa fa-check"></i>
                                                  </a>
                                              </div>
                                              <div class="nft__item_wrap">
                                                  <a href="item-details.php">
                                                      <img src="assets/images/items/mod11.jpg" class="lazy nft__item_preview" alt="">
                                                  </a>
                                              </div>
                                              <div class="nft__item_info">
                                                  <a href="item-details.php">
                                                      <h4>Pinky Ocean</h4>
                                                  </a>
                                                 
                                                  <div class="nft__item_action">
                                                      <a href="#">Subscribe Now</a>
                                                  </div>
                                                  <div class="nft__item_like">
                                                      <i class="fa fa-heart"></i><span>50</span>
                                                  </div>                            
                                              </div> 
                                          </div>
                                      </div>                 
                                      <!-- nft item begin -->
                                      <div class="d-item col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                          <div class="nft__item">
                                              <div class="author_list_pp">
                                                  <a href="Author.php">                                    
                                                      <img class="lazy" src="assets/images/author/author-10.jpg" alt="">
                                                      <i class="fa fa-check"></i>
                                                  </a>
                                              </div>
                                              <div class="nft__item_wrap">
                                                  <a href="item-details.php">
                                                      <img src="assets/images/items/mod12.jpg" class="lazy nft__item_preview" alt="">
                                                  </a>
                                              </div>
                                              <div class="nft__item_info">
                                                  <a href="item-details.php">
                                                      <h4>Deep Sea Phantasy</h4>
                                                  </a>
                                                  
                                                  <div class="nft__item_action">
                                                      <a href="#">Subscribe Now</a>
                                                  </div>
                                                  <div class="nft__item_like">
                                                      <i class="fa fa-heart"></i><span>80</span>
                                                  </div>                                 
                                              </div> 
                                          </div>
                                      </div>
                                      <!-- nft item begin -->
                                      <div class="d-item col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                          <div class="nft__item">
                                              
                                              <div class="author_list_pp">
                                                  <a href="Author.php">                                    
                                                      <img class="lazy" src="assets/images/author/author-11.jpg" alt="">
                                                      <i class="fa fa-check"></i>
                                                  </a>
                                              </div>
                                              <div class="nft__item_wrap">
                                                  <a href="item-details.php">
                                                      <img src="assets/images/items/mod13.jpg" class="lazy nft__item_preview" alt="">
                                                  </a>
                                              </div>
                                              <div class="nft__item_info">
                                                  <a href="item-details.php">
                                                      <h4>Rainbow Style</h4>
                                                  </a>
                                                  
                                                  <div class="nft__item_action">
                                                      <a href="#">Subscribe Now</a>
                                                  </div>
                                                  <div class="nft__item_like">
                                                      <i class="fa fa-heart"></i><span>97</span>
                                                  </div>                                 
                                              </div> 
                                          </div>
                                      </div>
                                      <!-- nft item begin -->
                                      <div class="d-item col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                          <div class="nft__item">
                                              <div class="author_list_pp">
                                                  <a href="Author.php">                                    
                                                      <img class="lazy" src="assets/images/author/author-12.jpg" alt="">
                                                      <i class="fa fa-check"></i>
                                                  </a>
                                              </div>
                                              <div class="nft__item_wrap">
                                                  <a href="item-details.php">
                                                      <img src="assets/images/items/mod14.jpg" class="lazy nft__item_preview" alt="">
                                                  </a>
                                              </div>
                                              <div class="nft__item_info">
                                                  <a href="item-details.php">
                                                      <h4>Two Tigers</h4>
                                                  </a>
                                                 
                                                  <div class="nft__item_action">
                                                      <a href="#">Subscribe Now</a>
                                                  </div>
                                                  <div class="nft__item_like">
                                                      <i class="fa fa-heart"></i><span>73</span>
                                                  </div>                                 
                                              </div> 
                                          </div>
                                      </div>
                                      <!-- nft item begin -->
                                      <div class="d-item col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                          <div class="nft__item">
                                              <div class="author_list_pp">
                                                  <a href="Author.php">                                    
                                                      <img class="lazy" src="assets/images/author/author-9.jpg" alt="">
                                                      <i class="fa fa-check"></i>
                                                  </a>
                                              </div>
                                              <div class="nft__item_wrap">
                                                  <a href="item-details.php">
                                                      <img src="assets/images/items/mod15.jpg" class="lazy nft__item_preview" alt="">
                                                  </a>
                                              </div>
                                              <div class="nft__item_info">
                                                  <a href="item-details.php">
                                                      <h4>The Truth</h4>
                                                  </a>
                                                  
                                                  <div class="nft__item_action">
                                                      <a href="#">Subscribe Now</a>
                                                  </div>
                                                  <div class="nft__item_like">
                                                      <i class="fa fa-heart"></i><span>26</span>
                                                  </div>                                 
                                              </div>
                                          </div>
                                      </div>
                                      <!-- nft item begin -->
                                      <div class="d-item col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                          <div class="nft__item">
                                             
                                              <div class="author_list_pp">
                                                  <a href="Author.php">                                    
                                                      <img class="lazy" src="assets/images/author/author-2.jpg" alt="">
                                                      <i class="fa fa-check"></i>
                                                  </a>
                                              </div>
                                              <div class="nft__item_wrap">
                                                  <a href="item-details.php">
                                                      <img src="assets/images/items/mod16.jpg" class="lazy nft__item_preview" alt="">
                                                  </a>
                                              </div>
                                              <div class="nft__item_info">
                                                  <a href="item-details.php">
                                                      <h4>Running Puppets</h4>
                                                  </a>
                                                    
                                                  <div class="nft__item_action">
                                                      <a href="#">Subscribe Now</a>
                                                  </div>
                                                  <div class="nft__item_like">
                                                      <i class="fa fa-heart"></i><span>45</span>
                                                  </div>                                  
                                              </div> 
                                          </div>
                                      </div>
                                      <!-- nft item begin -->
                                      <div class="d-item col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                          <div class="nft__item">
                                              <div class="author_list_pp">
                                                  <a href="Author.php">                                    
                                                      <img class="lazy" src="assets/images/author/author-3.jpg" alt="">
                                                      <i class="fa fa-check"></i>
                                                  </a>
                                              </div>
                                              <div class="nft__item_wrap">
                                                  <a href="item-details.php">
                                                      <img src="assets/images/items/mod17.jpg" class="lazy nft__item_preview" alt="">
                                                  </a>
                                              </div>
                                              <div class="nft__item_info">
                                                  <a href="item-details.php">
                                                      <h4>USA Wordmation</h4>
                                                  </a>
                                                 
                                                  <div class="nft__item_action">
                                                      <a href="#">Subscribe Now</a>
                                                  </div>
                                                  <div class="nft__item_like">
                                                      <i class="fa fa-heart"></i><span>76</span>
                                                  </div>                                 
                                              </div> 
                                          </div>
                                      </div>
                                      <!-- nft item begin -->
                                      <div class="d-item col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                          <div class="nft__item">
                                              
                                              <div class="author_list_pp">
                                                  <a href="Author.php">                                    
                                                      <img class="lazy" src="assets/images/author/author-4.jpg" alt="">
                                                      <i class="fa fa-check"></i>
                                                  </a>
                                              </div>
                                              <div class="nft__item_wrap">
                                                  <a href="item-details.php">
                                                      <img src="assets/images/items/mod19.jpg" class="lazy nft__item_preview" alt="">
                                                  </a>
                                              </div>
                                              <div class="nft__item_info">
                                                  <a href="item-details.php">
                                                      <h4>Loop Donut</h4>
                                                  </a>
                                                 
                                                  <div class="nft__item_action">
                                                      <a href="#">Subscribe Now</a>
                                                  </div>
                                                  <div class="nft__item_like">
                                                      <i class="fa fa-heart"></i><span>94</span>
                                                  </div>                                 
                                              </div> 
                                          </div>
                                      </div>
                                      <!-- nft item begin -->
                                      <div class="d-item col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                          <div class="nft__item">
                                             
                                              <div class="author_list_pp">
                                                  <a href="Author.php">                                    
                                                      <img class="lazy" src="assets/images/author/author-5.jpg" alt="">
                                                      <i class="fa fa-check"></i>
                                                  </a>
                                              </div>
                                              <div class="nft__item_wrap">
                                                  <a href="item-details.php">
                                                      <img src="assets/images/items/mod9.png" class="lazy nft__item_preview" alt="">
                                                  </a>
                                              </div>
                                              <div class="nft__item_info">
                                                  <a href="item-details.php">
                                                      <h4>Lady Copter</h4>
                                                  </a>
                                                 
                                                  <div class="nft__item_action">
                                                      <a href="#">Subscribe Now</a>
                                                  </div>
                                                  <div class="nft__item_like">
                                                      <i class="fa fa-heart"></i><span>75</span>
                                                  </div>                                 
                                              </div> 
                                          </div>
                                      </div>
                                      <!-- nft item begin -->
                                      <div class="d-item col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                          <div class="nft__item">
                                              <div class="author_list_pp">
                                                  <a href="Author.php">                                    
                                                      <img class="lazy" src="assets/images/author/author-7.jpg" alt="">
                                                      <i class="fa fa-check"></i>
                                                  </a>
                                              </div>
                                              <div class="nft__item_wrap">
                                                  <a href="item-details.php">
                                                      <img src="assets/images/items/mod10.png" class="lazy nft__item_preview" alt="">
                                                  </a>
                                              </div>
                                              <div class="nft__item_info">
                                                  <a href="item-details.php">
                                                      <h4>Purple Planet</h4>
                                                  </a>
                                                
                                                  <div class="nft__item_action">
                                                      <a href="#">Subscribe Now</a>
                                                  </div>
                                                  <div class="nft__item_like">
                                                      <i class="fa fa-heart"></i><span>93</span>
                                                  </div>                                 
                                              </div> 
                                          </div>
                                      </div>
                                      <!-- nft item begin -->
                                      <div class="d-item col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                          <div class="nft__item">
                                              
                                              <div class="author_list_pp">
                                                  <a href="Author.php">                                    
                                                      <img class="lazy" src="assets/images/author/author-6.jpg" alt="">
                                                      <i class="fa fa-check"></i>
                                                  </a>
                                              </div>
                                              <div class="nft__item_wrap">
                                                  <a href="item-details.php">
                                                      <img src="assets/images/items/mod1.png" class="lazy nft__item_preview" alt="">
                                                  </a>
                                              </div>
                                              <div class="nft__item_info">
                                                  <a href="item-details.php">
                                                      <h4>Oh Yeah!</h4>
                                                  </a>
                                                 
                                                  <div class="nft__item_action">
                                                      <a href="#">Subscribe Now</a>
                                                  </div>
                                                  <div class="nft__item_like">
                                                      <i class="fa fa-heart"></i><span>6</span>
                                                  </div>                                 
                                              </div> 
                                          </div>
                                      </div>
                                      <!-- nft item begin -->
                                      <div class="d-item col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                          <div class="nft__item">
                                              <div class="author_list_pp">
                                                  <a href="Author.php">                                    
                                                      <img class="lazy" src="assets/images/author/author-8.jpg" alt="">
                                                      <i class="fa fa-check"></i>
                                                  </a>
                                              </div>
                                              <div class="nft__item_wrap">
                                                  <a href="item-details.php">
                                                      <img src="assets/images/items/mod2.png" class="lazy nft__item_preview" alt="">
                                                  </a>
                                              </div>
                                              <div class="nft__item_info">
                                                  <a href="item-details.php">
                                                      <h4>This is Our Story</h4>
                                                  </a>
                                                 
                                                  <div class="nft__item_action">
                                                      <a href="#">Subscribe Now</a>
                                                  </div>
                                                  <div class="nft__item_like">
                                                      <i class="fa fa-heart"></i><span>21</span>
                                                  </div>                                 
                                              </div> 
                                          </div>
                                      </div>
                                      <!-- nft item begin -->
                                      <div class="d-item col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                          <div class="nft__item">
                                              <div class="author_list_pp">
                                                  <a href="Author.php">                                    
                                                      <img class="lazy" src="assets/images/author/author-9.jpg" alt="">
                                                      <i class="fa fa-check"></i>
                                                  </a>
                                              </div>
                                              <div class="nft__item_wrap">
                                                  <a href="item-details.php">
                                                      <img src="assets/images/items/mod3.png" class="lazy nft__item_preview" alt="">
                                                  </a>
                                              </div>
                                              <div class="nft__item_info">
                                                  <a href="item-details.php">
                                                      <h4>Pixel World</h4>
                                                  </a>
                                                
                                                  <div class="nft__item_action">
                                                      <a href="#">Subscribe Now</a>
                                                  </div>
                                                  <div class="nft__item_like">
                                                      <i class="fa fa-heart"></i><span>46</span>
                                                  </div>                                 
                                              </div> 
                                          </div>
                                      </div>
                                      <!-- nft item begin -->
                                      <div class="d-item col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                          <div class="nft__item">
                                              <div class="author_list_pp">
                                                  <a href="Author.php">                                    
                                                      <img class="lazy" src="assets/images/author/author-12.jpg" alt="">
                                                      <i class="fa fa-check"></i>
                                                  </a>
                                              </div>
                                              <div class="nft__item_wrap">
                                                  <a href="item-details.php">
                                                      <img src="assets/images/items/mod4.png" class="lazy nft__item_preview" alt="">
                                                  </a>
                                              </div>
                                              <div class="nft__item_info">
                                                  <a href="item-details.php">
                                                      <h4>I Believe I Can Fly</h4>
                                                  </a>
                                                  
                                                  <div class="nft__item_action">
                                                      <a href="#">Subscribe Now</a>
                                                  </div>
                                                  <div class="nft__item_like">
                                                      <i class="fa fa-heart"></i><span>54</span>
                                                  </div>                                 
                                              </div> 
                                          </div>
                                      </div>
                                      <!-- nft item begin -->
                                      <div class="d-item col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                          <div class="nft__item">
                                              <div class="author_list_pp">
                                                  <a href="Author.php">                                    
                                                      <img class="lazy" src="assets/images/author/author-4.jpg" alt="">
                                                      <i class="fa fa-check"></i>
                                                  </a>
                                              </div>
                                              <div class="nft__item_wrap">
                                                  <a href="item-details.php">
                                                      <img src="assets/images/items/mod5.png" class="lazy nft__item_preview" alt="">
                                                  </a>
                                              </div>
                                              <div class="nft__item_info">
                                                  <a href="item-details.php">
                                                      <h4>Cute Astronout</h4>
                                                  </a>
                                                 
                                                  <div class="nft__item_action">
                                                      <a href="#">Subscribe Now</a>
                                                  </div>
                                                  <div class="nft__item_like">
                                                      <i class="fa fa-heart"></i><span>32</span>
                                                  </div>                                 
                                              </div> 
                                          </div>
                                      </div>
                                      <!-- nft item begin -->
                                      <div class="d-item col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                          <div class="nft__item">
                                              <div class="author_list_pp">
                                                  <a href="Author.php">                                    
                                                      <img class="lazy" src="assets/images/author/author-1.jpg" alt="">
                                                      <i class="fa fa-check"></i>
                                                  </a>
                                              </div>
                                              <div class="nft__item_wrap">
                                                  <a href="item-details.php">
                                                      <img src="assets/images/items/mod6.png" class="lazy nft__item_preview" alt="">
                                                  </a>
                                              </div>
                                              <div class="nft__item_info">
                                                  <a href="item-details.php">
                                                      <h4>Teal Ocean</h4>
                                                  </a>
                                                  
                                                  <div class="nft__item_action">
                                                      <a href="#">Subscribe Now</a>
                                                  </div>
                                                  <div class="nft__item_like">
                                                      <i class="fa fa-heart"></i><span>24</span>
                                                  </div>                                 
                                              </div> 
                                          </div>
                                      </div>
              
                                      <div class="col-md-12 text-center">
                                          <a href="#" id="loadmore" class="btn-main wow fadeInUp lead">Load more</a>
                                      </div>                                              
                                  </div>
                              </div>
                          </section>
              
                          <section id="section-collections" data-bgcolor="#0f0f0f">
                              <div class="container">
                                  <div class="row">
                                      <div class="col-lg-12">
                                          <div class="text-center">
                                              <h2>Hot Collections</h2>
                                              <div class="small-border bg-color-2"></div>
                                          </div>
                                      </div>
                                      <div id="collection-carousel" class="owl-carousel wow fadeIn">
              
                                              <div class="nft_coll">
                                                  <div class="nft_wrap">
                                                      <a href="Collection.php"><img src="assets/images/collections/coll15.jpg" class="lazy img-fluid" alt=""></a>
                                                  </div>
                                                  <div class="nft_coll_pp">
                                                      <a href="Collection.php"><img class="lazy" src="assets/images/author/author-1.jpg" alt=""></a>
                                                      <i class="fa fa-check"></i>
                                                  </div>
                                                  <div class="nft_coll_info">
                                                      <a href="Collection.php"><h4>Abstraction</h4></a>
                                                      <span>ERC-192</span>
                                                  </div>
                                              </div>
                                          
                                              <div class="nft_coll">
                                                  <div class="nft_wrap">
                                                      <a href="Collection.php"><img src="assets/images/collections/coll16.jpg" class="lazy img-fluid" alt=""></a>
                                                  </div>
                                                  <div class="nft_coll_pp">
                                                      <a href="Collection.php"><img class="lazy" src="assets/images/author/author-2.jpg" alt=""></a>
                                                      <i class="fa fa-check"></i>
                                                  </div>
                                                  <div class="nft_coll_info">
                                                      <a href="Collection.php"><h4>Patternlicious</h4></a>
                                                      <span>ERC-61</span>
                                                  </div>
                                              </div>
                                          
                                              <div class="nft_coll">
                                                  <div class="nft_wrap">
                                                      <a href="Collection.php"><img src="assets/images/collections/coll17.jpg" class="lazy img-fluid" alt=""></a>
                                                  </div>
                                                  <div class="nft_coll_pp">
                                                      <a href="Collection.php"><img class="lazy" src="assets/images/author/author-3.jpg" alt=""></a>
                                                      <i class="fa fa-check"></i>
                                                  </div>
                                                  <div class="nft_coll_info">
                                                      <a href="Collection.php"><h4>Skecthify</h4></a>
                                                      <span>ERC-126</span>
                                                  </div>
                                              </div>
                                          
                                              <div class="nft_coll">
                                                  <div class="nft_wrap">
                                                      <a href="Collection.php"><img src="assets/images/collections/coll18.jpg" class="lazy img-fluid" alt=""></a>
                                                  </div>
                                                  <div class="nft_coll_pp">
                                                      <a href="Collection.php"><img class="lazy" src="assets/images/author/author-4.jpg" alt=""></a>
                                                      <i class="fa fa-check"></i>
                                                  </div>
                                                  <div class="nft_coll_info">
                                                      <a href="Collection.php"><h4>Cartoonism</h4></a>
                                                      <span>ERC-73</span>
                                                  </div>
                                              </div>
                                          
                                              <div class="nft_coll">
                                                  <div class="nft_wrap">
                                                      <a href="Collection.php"><img src="assets/images/collections/coll19.jpg" class="lazy img-fluid" alt=""></a>
                                                  </div>
                                                  <div class="nft_coll_pp">
                                                      <a href="Collection.php"><img class="lazy" src="assets/images/author/author-5.jpg" alt=""></a>
                                                      <i class="fa fa-check"></i>
                                                  </div>
                                                  <div class="nft_coll_info">
                                                      <a href="Collection.php"><h4>Virtuland</h4></a>
                                                      <span>ERC-85</span>
                                                  </div>
                                              </div>
                                          
                                              <div class="nft_coll">
                                                  <div class="nft_wrap">
                                                      <a href="Collection.php"><img src="assets/images/collections/coll20.jpg" class="lazy img-fluid" alt=""></a>
                                                  </div>
                                                  <div class="nft_coll_pp">
                                                      <a href="Collection.php"><img class="lazy" src="assets/images/author/author-6.jpg" alt=""></a>
                                                      <i class="fa fa-check"></i>
                                                  </div>
                                                  <div class="nft_coll_info">
                                                      <a href="Collection.php"><h4>Papercut</h4></a>
                                                      <span>ERC-42</span>
                                                  </div>
                                              </div>
                                              
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </section>
              
                          
              
                          <section id="section-popular">
                              <div class="container">
                                  <div class="row">
                                      <div class="col-lg-12">
                                          <div class="text-center">
                                              <h2>Top Sellers</h2>
                                              <div class="small-border bg-color-2"></div>
                                          </div>
                                      </div>
                                      <div class="col-md-12 wow fadeIn">
                                          <ol class="author_list">
                                              <li>                                    
                                                  <div class="author_list_pp">
                                                      <a href="Author.php">
                                                          <img class="lazy" src="assets/images/author/author-1.jpg" alt="">
                                                          <i class="fa fa-check"></i>
                                                      </a>
                                                  </div>                                    
                                                  <div class="author_list_info">
                                                      <a href="Author.php">Monica Lucas</a>
                                                      <span>3.2 ETH</span>
                                                  </div>
                                              </li>
                                              <li>
                                                  <div class="author_list_pp">
                                                      <a href="Author.php">                                    
                                                          <img class="lazy" src="assets/images/author/author-2.jpg" alt="">
                                                          <i class="fa fa-check"></i>
                                                      </a>
                                                  </div>
                                                  <div class="author_list_info">
                                                      <a href="Author.php">Mamie Barnett</a>
                                                      <span>2.8 ETH</span>
                                                  </div>
                                              </li>
                                              <li>
                                                  <div class="author_list_pp">
                                                      <a href="Author.php">                                    
                                                          <img class="lazy" src="assets/images/author/author-3.jpg" alt="">
                                                          <i class="fa fa-check"></i>
                                                      </a>
                                                  </div>
                                                  <div class="author_list_info">
                                                      <a href="Author.php">Nicholas Daniels</a>
                                                      <span>2.5 ETH</span>
                                                  </div>
                                              </li>
                                              <li>
                                                  <div class="author_list_pp">
                                                      <a href="Author.php">                                    
                                                          <img class="lazy" src="assets/images/author/author-4.jpg" alt="">
                                                          <i class="fa fa-check"></i>
                                                      </a>
                                                  </div>
                                                  <div class="author_list_info">
                                                      <a href="Author.php">Lori Hart</a>
                                                      <span>2.2 ETH</span>
                                                  </div>
                                              </li>
                                              <li>
                                                  <div class="author_list_pp">
                                                      <a href="Author.php">                                    
                                                          <img class="lazy" src="assets/images/author/author-5.jpg" alt="">
                                                          <i class="fa fa-check"></i>
                                                      </a>
                                                  </div>
                                                  <div class="author_list_info">
                                                      <a href="Author.php">Jimmy Wright</a>
                                                      <span>1.9 ETH</span>
                                                  </div>
                                              </li>
                                              <li>
                                                  <div class="author_list_pp">
                                                      <a href="Author.php">                                    
                                                          <img class="lazy" src="assets/images/author/author-6.jpg" alt="">
                                                          <i class="fa fa-check"></i>
                                                      </a>
                                                  </div>
                                                  <div class="author_list_info">
                                                      <a href="Author.php">Karla Sharp</a>
                                                      <span>1.6 ETH</span>
                                                  </div>
                                              </li>
                                              <li>
                                                  <div class="author_list_pp">
                                                      <a href="Author.php">                                    
                                                          <img class="lazy" src="assets/images/author/author-7.jpg" alt="">
                                                          <i class="fa fa-check"></i>
                                                      </a>
                                                  </div>
                                                  <div class="author_list_info">
                                                      <a href="Author.php">Gayle Hicks</a>
                                                      <span>1.5 ETH</span>
                                                  </div>
                                              </li>
                                              <li>
                                                  <div class="author_list_pp">
                                                      <a href="Author.php">                                    
                                                          <img class="lazy" src="assets/images/author/author-8.jpg" alt="">
                                                          <i class="fa fa-check"></i>
                                                      </a>
                                                  </div>
                                                  <div class="author_list_info">
                                                      <a href="Author.php">Claude Banks</a>
                                                      <span>1.3 ETH</span>
                                                  </div>
                                              </li>
                                              <li>
                                                  <div class="author_list_pp">
                                                      <a href="Author.php">                                    
                                                          <img class="lazy" src="assets/images/author/author-9.jpg" alt="">
                                                          <i class="fa fa-check"></i>
                                                      </a>
                                                  </div>
                                                  <div class="author_list_info">
                                                      <a href="Author.php">Franklin Greer</a>
                                                      <span>0.9 ETH</span>
                                                  </div>
                                              </li>
                                              <li>
                                                  <div class="author_list_pp">
                                                      <a href="Author.php">                                    
                                                          <img class="lazy" src="assets/images/author/author-10.jpg" alt="">
                                                          <i class="fa fa-check"></i>
                                                      </a>
                                                  </div>
                                                  <div class="author_list_info">
                                                      <a href="Author.php">Stacy Long</a>
                                                      <span>0.8 ETH</span>
                                                  </div>
                                              </li>
                                              <li>
                                                  <div class="author_list_pp">
                                                      <a href="Author.php">                                    
                                                          <img class="lazy" src="assets/images/author/author-11.jpg" alt="">
                                                          <i class="fa fa-check"></i>
                                                      </a>
                                                  </div>
                                                  <div class="author_list_info">
                                                      <a href="Author.php">Ida Chapman</a>
                                                      <span>0.6 ETH</span>
                                                  </div>
                                              </li>
                                              <li>
                                                  <div class="author_list_pp">
                                                      <a href="Author.php">                                    
                                                          <img class="lazy" src="assets/images/author/author-12.jpg" alt="">
                                                          <i class="fa fa-check"></i>
                                                      </a>
                                                  </div>
                                                  <div class="author_list_info">
                                                      <a href="Author.php">Fred Ryan</a>
                                                      <span>0.5 eth</span>
                                                  </div>
                                              </li>
                                          </ol>
                                      </div>
                                  </div>
                              </div>
                          </section>
              
                          
                          <section id="section-category" class="no-top">
                              <div class="container">
                                  <div class="row">
                                      <div class="col-lg-12">
                                          <div class="text-center">
                                              <h2>Browse by categories</h2>
                                              <div class="small-border bg-color-2"></div>
                                          </div>
                                      </div>
                                      <div class="col-md-2 col-sm-4 col-6 mb-sm-30 wow fadeInRight" data-wow-delay=".1s">
                                          <a href='Explore.php' class="icon-box style-2 rounded">
                                              <i class="fa fa-image"></i>
                                              <span>Age</span>
                                          </a>
                                      </div>
                                      <div class="col-md-2 col-sm-4 col-6 mb-sm-30 wow fadeInRight" data-wow-delay=".2s">
                                          <a href='Explore.php' class="icon-box style-2 rounded">
                                              <i class="fa fa-music"></i>
                                              <span>Fetish</span>
                                          </a>
                                      </div>
                                      <div class="col-md-2 col-sm-4 col-6 mb-sm-30 wow fadeInRight" data-wow-delay=".3s">
                                          <a href='Explore.php' class="icon-box style-2 rounded">
                                              <i class="fa fa-search"></i>
                                              <span>Orientation</span>
                                          </a>
                                      </div>
                                      <div class="col-md-2 col-sm-4 col-6 mb-sm-30 wow fadeInRight" data-wow-delay=".4s">
                                          <a href='Explore.php' class="icon-box style-2 rounded">
                                              <i class="fa fa-globe"></i>
                                              <span>Specific Acts</span>
                                          </a>
                                      </div>
                                      <div class="col-md-2 col-sm-4 col-6 mb-sm-30 wow fadeInRight" data-wow-delay=".5s">
                                          <a href='Explore.php' class="icon-box style-2 rounded">
                                              <i class="fa fa-vcard"></i>
                                              <span>Ethnicity</span>
                                          </a>
                                      </div>
                                      <div class="col-md-2 col-sm-4 col-6 mb-sm-30 wow fadeInRight" data-wow-delay=".6s">
                                          <a href='Explore.php' class="icon-box style-2 rounded">
                                              <i class="fa fa-th"></i>
                                              <span>Collectibles</span>
                                          </a>
                                      </div>
                                  </div>
                              </div>
                          </section>     
                      </div>
                      <!-- content close -->
              
              
                  
                <a href="#" id="back-to-top"></a>
                      
                   
                      
                 
              
                 
                  
                