<!-- content begin -->
<div class="no-bottom no-top" id="content">
    <div id="top"></div>
    
     <!-- section begin -->
    <section id="subheader" class="text-light">
            <div class="center-y relative text-center">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-md-12 text-center">
                            <h1>Model</h1>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
    </section>
    <!-- section close -->
    

    <section aria-label="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                   <div class="d_profile de-flex">
                        <div class="de-flex-col">
                            <div class="profile_avatar">
                                <img src="/images/items/mod5.png" alt="">
                                <i class="fa fa-check"></i>
                                <div class="profile_name">
                                    <h4>
                                        Monica Lucas                                                
                                        <span class="profile_username">@monicaaa</span>
                                        <span id="wallet" class="profile_wallet">DdzFFzCqrhshMSxb9oW3mRo4MJrQkusV3fGFSTwaiu4wPBqMryA9DYVJCkW9n7twCffG5f5wX2sSkoDXGiZB1HPa7K7f865Kk4LqnrME</span>
                                        <button id="btn_copy" title="Copy Text">Copy</button>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="profile_follow de-flex">
                            <div class="de-flex-col">
                                <div class="profile_follower">500 followers</div>
                            </div>
                            <div class="de-flex-col">
                                <a href="#" class="btn-main">Follow</a>
                            </div>
                             <div class="de-flex-col ">
                                <a href="Message-creator.php" class="btn-main" style="margin-left: 10px;"> Message Creator</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-12">
                    <div class="de_tab">

                        <!-- <ul class="de_nav">
                            <li class="active"><span>On Sale</span></li>
                            <li><span>Created</span></li>
                            <li><span>Liked</span></li>
                        </ul> -->
                        
                        <div class="de_tab_content">
                            
                            <div class="tab-1">
                                <div class="row"id="model-list">
                                        <!-- nft item begin -->
                                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <div class="nft__item">
                                                <div class="de_countdown" data-year="2021" data-month="8" data-day="16" data-hour="8"></div>
                                                <div class="author_list_pp">
                                                    <a href="Author.php">                                    
                                                        <img class="lazy" src="/images/author/author-1.jpg" alt="">
                                                        <i class="fa fa-check"></i>
                                                    </a>
                                                </div>
                                                <div class="nft__item_wrap">
                                                    <a href="item-details.php">
                                                        <img src="/images/items/mod5.png" class="lazy nft__item_preview" alt="">
                                                    </a>
                                                </div>
                                                <div class="nft__item_info">
                                                    <a href="item-details.php">
                                                        <h4>Pinky Ocean</h4>
                                                    </a>
                                                    <div class="nft__item_price">
                                                        0.08 ETH<span>1/20</span>
                                                    </div>
                                                    <div class="nft__item_action">
                                                        <a href="#">Subscribe Now</a>
                                                    </div>
                                                    <div class="nft__item_like">
                                                        <i class="fa fa-heart"></i><span>50</span>
                                                    </div>                            
                                                </div> 
                                            </div>
                                        </div>                 
                                       
                                    </div>
                            </div>
                            
                            <div class="tab-2">
                                <div class="row">

                                        <!-- nft item begin -->
                                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <div class="nft__item">
                                                <div class="de_countdown" data-year="2021" data-month="9" data-day="14" data-hour="8"></div>
                                                <div class="author_list_pp">
                                                    <a href="Author.php">                                    
                                                        <img class="lazy" src="/images/author/author-1.jpg" alt="">
                                                        <i class="fa fa-check"></i>
                                                    </a>
                                                </div>
                                                <div class="nft__item_wrap">
                                                    <a href="item-details.php">
                                                        <img src="/images/items/mod7.png" class="lazy nft__item_preview" alt="">
                                                    </a>
                                                </div>
                                                <div class="nft__item_info">
                                                    <a href="item-details.php">
                                                        <h4>Three Donuts</h4>
                                                    </a>
                                                    <div class="nft__item_price">
                                                        0.05 ETH<span>1/11</span>
                                                    </div>
                                                    <div class="nft__item_action">
                                                        <a href="#">Subscribe Now</a>
                                                    </div>
                                                    <div class="nft__item_like">
                                                        <i class="fa fa-heart"></i><span>97</span>
                                                    </div>                                 
                                                </div> 
                                            </div>
                                        </div>
                                        <!-- nft item begin -->
                                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <div class="nft__item">
                                                <div class="de_countdown" data-year="2021" data-month="8" data-day="16" data-hour="8"></div>
                                                <div class="author_list_pp">
                                                    <a href="Author.php">                                    
                                                        <img class="lazy" src="/images/author/author-1.jpg" alt="">
                                                        <i class="fa fa-check"></i>
                                                    </a>
                                                </div>
                                                <div class="nft__item_wrap">
                                                    <a href="item-details.php">
                                                        <img src="/images/items/mod5.png" class="lazy nft__item_preview" alt="">
                                                    </a>
                                                </div>
                                                <div class="nft__item_info">
                                                    <a href="item-details.php">
                                                        <h4>Pinky Ocean</h4>
                                                    </a>
                                                    <div class="nft__item_price">
                                                        0.08 ETH<span>1/20</span>
                                                    </div>
                                                    <div class="nft__item_action">
                                                        <a href="#">Subscribe Now</a>
                                                    </div>
                                                    <div class="nft__item_like">
                                                        <i class="fa fa-heart"></i><span>50</span>
                                                    </div>                            
                                                </div> 
                                            </div>
                                        </div>                 
                                        <!-- nft item begin -->
                                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <div class="nft__item">
                                                <div class="author_list_pp">
                                                    <a href="Author.php">                                    
                                                        <img class="lazy" src="/images/author/author-1.jpg" alt="">
                                                        <i class="fa fa-check"></i>
                                                    </a>
                                                </div>
                                                <div class="nft__item_wrap">
                                                    <a href="item-details.php">
                                                        <img src="/images/items/mod6.png" class="lazy nft__item_preview" alt="">
                                                    </a>
                                                </div>
                                                <div class="nft__item_info">
                                                    <a href="item-details.php">
                                                        <h4>The Animals</h4>
                                                    </a>
                                                    <div class="nft__item_price">
                                                        0.06 ETH<span>1/22</span>
                                                    </div>
                                                    <div class="nft__item_action">
                                                        <a href="#">Subscribe Now</a>
                                                    </div>
                                                    <div class="nft__item_like">
                                                        <i class="fa fa-heart"></i><span>80</span>
                                                    </div>                                 
                                                </div> 
                                            </div>
                                        </div>
                                        <!-- nft item begin -->
                                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <div class="nft__item">
                                                <div class="author_list_pp">
                                                    <a href="Author.php">                                    
                                                        <img class="lazy" src="/images/author/author-1.jpg" alt="">
                                                        <i class="fa fa-check"></i>
                                                    </a>
                                                </div>
                                                <div class="nft__item_wrap">
                                                    <a href="item-details.php">
                                                        <img src="/images/items/mod8.png" class="lazy nft__item_preview" alt="">
                                                    </a>
                                                </div>
                                                <div class="nft__item_info">
                                                    <a href="item-details.php">
                                                        <h4>Graffiti Colors</h4>
                                                    </a>
                                                    <div class="nft__item_price">
                                                        0.02 ETH<span>1/15</span>
                                                    </div>
                                                    <div class="nft__item_action">
                                                        <a href="#">Subscribe Now</a>
                                                    </div>
                                                    <div class="nft__item_like">
                                                        <i class="fa fa-heart"></i><span>73</span>
                                                    </div>                                 
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                            </div>

                            <div class="tab-3">
                                <div class="row">
                                    <!-- nft item begin -->
                                    <div class="col-lg-3 col-md-6">
                                        <div class="nft__item">
                                            <div class="author_list_pp">
                                                <a href="Author.php">                                    
                                                    <img class="lazy" src="/images/author/author-1.jpg" alt="">
                                                    <i class="fa fa-check"></i>
                                                </a>
                                            </div>
                                            <div class="nft__item_wrap">
                                                <a href="item-details.php">
                                                    <img src="/images/items/anim-4.html" class="lazy nft__item_preview" alt="">
                                                </a>
                                            </div>
                                            <div class="nft__item_info">
                                                <a href="item-details.php">
                                                    <h4>The Truth</h4>
                                                </a>
                                                <div class="nft__item_price">
                                                    0.06 ETH<span>1/20</span>
                                                </div>
                                                <div class="nft__item_action">
                                                    <a href="#">Subscribe Now</a>
                                                </div>
                                                <div class="nft__item_like">
                                                    <i class="fa fa-heart"></i><span>26</span>
                                                </div>                                 
                                            </div>
                                        </div>
                                    </div>
                                    <!-- nft item begin -->
                                    <div class="col-lg-3 col-md-6">
                                        <div class="nft__item">
                                            <div class="de_countdown" data-year="2021" data-month="8" data-day="11" data-hour="8"></div>
                                            <div class="author_list_pp">
                                                <a href="Author.php">                                    
                                                    <img class="lazy" src="/images/author/author-2.jpg" alt="">
                                                    <i class="fa fa-check"></i>
                                                </a>
                                            </div>
                                            <div class="nft__item_wrap">
                                                <a href="item-details.php">
                                                    <img src="/images/items/anim-2.html" class="lazy nft__item_preview" alt="">
                                                </a>
                                            </div>
                                            <div class="nft__item_info">
                                                <a href="item-details.php">
                                                    <h4>Running Puppets</h4>
                                                </a>
                                                <div class="nft__item_price">
                                                    0.03 ETH<span>1/24</span>
                                                </div>    
                                                <div class="nft__item_action">
                                                    <a href="#">Subscribe Now</a>
                                                </div>
                                                <div class="nft__item_like">
                                                    <i class="fa fa-heart"></i><span>45</span>
                                                </div>                                  
                                            </div> 
                                        </div>
                                    </div>
                                    <!-- nft item begin -->
                                    <div class="col-lg-3 col-md-6">
                                        <div class="nft__item">
                                            <div class="author_list_pp">
                                                <a href="Author.php">                                    
                                                    <img class="lazy" src="/images/author/author-3.jpg" alt="">
                                                    <i class="fa fa-check"></i>
                                                </a>
                                            </div>
                                            <div class="nft__item_wrap">
                                                <a href="item-details.php">
                                                    <img src="/images/items/anim-1.html" class="lazy nft__item_preview" alt="">
                                                </a>
                                            </div>
                                            <div class="nft__item_info">
                                                <a href="item-details.php">
                                                    <h4>USA Wordmation</h4>
                                                </a>
                                                <div class="nft__item_price">
                                                    0.09 ETH<span>1/25</span>
                                                </div>
                                                <div class="nft__item_action">
                                                    <a href="#">Subscribe Now</a>
                                                </div>
                                                <div class="nft__item_like">
                                                    <i class="fa fa-heart"></i><span>76</span>
                                                </div>                                 
                                            </div> 
                                        </div>
                                    </div>
                                    <!-- nft item begin -->
                                    <div class="col-lg-3 col-md-6">
                                        <div class="nft__item">
                                            <div class="de_countdown" data-year="2021" data-month="9" data-day="29" data-hour="8"></div>
                                            <div class="author_list_pp">
                                                <a href="Author.php">                                    
                                                    <img class="lazy" src="/images/author/author-4.jpg" alt="">
                                                    <i class="fa fa-check"></i>
                                                </a>
                                            </div>
                                            <div class="nft__item_wrap">
                                                <a href="item-details.php">
                                                    <img src="/images/items/anim-5.html" class="lazy nft__item_preview" alt="">
                                                </a>
                                            </div>
                                            <div class="nft__item_info">
                                                <a href="item-details.php">
                                                    <h4>Loop Donut</h4>
                                                </a>
                                                <div class="nft__item_price">
                                                    0.09 ETH<span>1/14</span>
                                                </div>
                                                <div class="nft__item_action">
                                                    <a href="#">Subscribe Now</a>
                                                </div>
                                                <div class="nft__item_like">
                                                    <i class="fa fa-heart"></i><span>94</span>
                                                </div>                                 
                                            </div> 
                                        </div>
                                    </div>                                                
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
</div>
<!-- content close -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
  window.onload = function() { //alert("hello")
     fetchData("");
    

  };
  function fetchData(query){   console.log(query)
    $.ajax({type:"get",
           url:"/search",
           data:{category:query},
           success:function(res)
           {

            if(res.length>0)
              {               
                
                document.getElementById('model-list').innerHTML="";  

                res.forEach(function(content,index)
                 {
                
                       let html=`<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <div class="nft__item">
                                                <div class="de_countdown" data-year="2021" data-month="8" data-day="16" data-hour="8"></div>
                                                <div class="author_list_pp">
                                                    <a href="Author.php">                                    
                                                        <img class="lazy" src="/images/author/author-1.jpg" alt="">
                                                        <i class="fa fa-check"></i>
                                                    </a>
                                                </div>
                                                <div class="nft__item_wrap">
                                                    <a href="item-details?id=`+content._id+`">
                                                        <img src="/uploadFile/`+content.image+`" class="lazy nft__item_preview" alt="">
                                                    </a>
                                                </div>
                                                <div class="nft__item_info">
                                                    <a href="item-details?id=`+content._id+`">
                                                        <h4>`+content.title+` </h4>
                                                    </a>
                                                    <div class="nft__item_price">
                                                        0.08 ETH<span>1/20</span>
                                                    </div>
                                                    <div class="nft__item_action">
                                                        <a href="#">Subscribe Now</a>
                                                    </div>
                                                    <div class="nft__item_like">
                                                        <i class="fa fa-heart"></i><span>50</span>
                                                    </div>                            
                                                </div> 
                                            </div>
                                        </div>`;

                   document.getElementById('model-list').innerHTML+=html;  
                 });
              
         //$("#content-list").html(html); 
           }else{
            document.getElementById('model-list').innerHTML='<div class="col-md-6"> <h1>Not Found<h1> </div>';  


           } 
                 


           },
       
    });
  }

function CheckboxValues(name) {
  const checkboxes = document.querySelectorAll(`input[name="${name}"]:checked`);
  let values = [];
  checkboxes.forEach((checkbox) => { alert(checkbox.value)
      values.push(checkbox.value);
   });
 
   console.log(values);
   fetchData(values);
 }   

 
</script>